body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin: 30px;
}

nav {
  background-color: #555577;
  padding: 30px;
  font-size: 30px;
}

a {
  margin: 30px;
  color: #7799ff;
  transition: font-size 500ms;
}

h1 {
  font-size: 70px;
  margin: 30px;
}

a:hover {
  font-size: 33px;
}
